*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captured_build_logs.txt
/receiver_app/build
/controller_app/build
/shared_protocol/build
.externalNativeBuild
.cxx
